.selected-button {
    background-color: #e4e5fa;
    color: #b65050;
    border-radius: 5px;
    font-weight: bold;
}
.selected-target-market {
  background-color: #e4e5fa;
  color: #b65050;
  border-radius: 5px;
  font-weight: bold;
}
.non-selected-button {
    background-color: #f8f9fa;
    color: #000;
}

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 3px; 
  }
  

  ::-moz-scrollbar {
    width: 3px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Set the background color of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Set the color of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Set the color of the scrollbar handle on hover */
  }
  
  .accordion-header {
    background-color: #eee;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.accordion-content {
    padding: 0 15px;
    background-color: white;
    display: none;
    overflow: hidden;
}
